*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    gap: 20px;
    justify-content: center;
}
.detail{
    padding: 20px;
    background-color: darkcyan;
    border-radius: 10px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
img{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}
.demo_detail{
    width: 200px;
    padding: 20px;
    background-color: darkcyan;
    border-radius: 10px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
#ids{
    position: absolute;
    top: 10px;
    left: 10px;
}